.paydata-wrapper {
  font-family: "Inter", sans-serif;
  background:#f3faf3;
  min-height:100vh;
}

/* TOP BAR SAME STYLE AS DASHBOARD */
.topbar {
  height:65px;
  background:#006b3b;
  color:#fff;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:0 25px;
  box-shadow:0 3px 12px rgba(0,0,0,0.15);
}

.portal-title {
  font-size:22px;
  font-weight:700;
}

/* 🔙 BACK BUTTON */
.back-btn {
  font-size:24px;
  background:none;
  color:white;
  border:none;
  cursor:pointer;
}

/* RIGHT PROFILE SECTION */
.top-actions {
  display:flex;
  align-items:center;
  gap:18px;
}

/* PROFILE AVATAR */
.avatar-box {
  display:flex;
  align-items:center;
  gap:10px;
  cursor:pointer;
}

.avatar-emoji {
  width:42px;
  height:42px;
  background:white;
  color:#004d2a;
  border-radius:50%;
  font-size:22px;
  font-weight:bold;
  display:flex;
  align-items:center;
  justify-content:center;
  border:2px solid white;
  box-shadow:0 3px 7px rgba(0,0,0,0.22);
  transition:0.2s;
}
.avatar-emoji:hover {
  transform:scale(1.08);
}

.userid {
  font-weight:600;
}

/* LOGOUT BUTTON */
.logout-btn {
  background:#ff4747;
  color:white;
  border:none;
  padding:10px 14px;
  border-radius:6px;
  cursor:pointer;
  font-weight:600;
  transition:0.2s;
}
.logout-btn:hover {
  background:#d62828;
  transform:scale(1.05);
}

/* PAYCARD */
.pay-card {
  width:60%;
  margin:auto;
  margin-top:40px;
  background:white;
  padding:30px;
  border-radius:12px;
  box-shadow:0 0 35px rgba(0,0,0,0.08);
}

/* ROWS */
.row {
  display:flex;
  justify-content:space-between;
  border-bottom:1px solid #e9e9e9;
  padding:10px 0;
}
.row label { font-weight:600; width:35%; }
.row p { width:60%; margin:0; }

.download-btn {
  margin-top:25px;
  width:100%;
  background:#00713a;
  color:#fff;
  padding:14px;
  border:none;
  font-weight:600;
  border-radius:8px;
  cursor:pointer;
  transition:.2s;
}
.download-btn:active,
.download-btn.downloaded {
  background:#0a9450 !important;
}

.download-btn:hover{
  background:#005528;
}
