.payment-page {
  background:#eef1ff;
  min-height:100vh;
  padding-top:90px;
  font-family:'Inter',sans-serif;
}

/* NAVBAR */
.navbar{
  position:fixed;top:0;width:100%;height:70px;
  background:#5262D1;color:white;
  display:flex;align-items:center;justify-content:space-between;
  padding:0 20px;z-index:50;font-weight:600;
}

.back-icon{font-size:26px;cursor:pointer;}
.title{font-size:24px;font-weight:700;}

.top-right{display:flex;align-items:center;gap:12px;}
.profile-icon{font-size:28px;cursor:pointer;}
.logout-btn{
  background:#ff4f4f;color:white;padding:8px 14px;
  margin-right: 60px;
  border-radius:6px;border:none;font-weight:600;cursor:pointer;
}
.logout-btn:hover{background:#e02525;}

/* SEARCH */
.search-container{
  margin-top:25px;display:flex;padding:10px;gap:10px;
}
.search-container input{
  width:20%;
  padding:10px;border-radius:8px;border:1px solid #b7bcff;
}
.clear-btn{
  background:#5262D1;color:white;border:none;
  padding:10px 16px;border-radius:6px;cursor:pointer;
}
.clear-btn:hover{background:#3a4cc7;}

/* TABLE */
.table-wrapper{
  width:95%;margin:25px auto;padding:20px;
  background:white;border-radius:12px;
  box-shadow:0 3px 18px rgba(0,0,0,0.12);
}

table{width:100%;border-collapse:collapse;}
th{
  background:#5262D1;color:white;padding:14px;text-align:left;
}
td{padding:14px;border-bottom:1px solid #ececec;}
tbody tr:nth-child(even){background:#f2f2ff;}
tbody tr:hover{background:#e3e7ff;transition:.2s;}

.no-data{text-align:center;font-size:18px;margin-top:20px;}
