.delivery-page{
  background:#eef1ff;
  min-height:100vh;
  padding-top:90px;
  font-family:'Inter',sans-serif;
}

/* NAVBAR */
.navbar{
  position:fixed;top:0;width:100%;height:70px;
  background:#5262D1;color:white;
  display:flex;align-items:center;justify-content:space-between;
  padding:0 20px;font-weight:600;z-index:50;
}

.title{font-size:24px;font-weight:700;}
.back-icon{font-size:26px;cursor:pointer;}

.top-right{display:flex;align-items:center;gap:12px;}
.profile-icon{font-size:28px;}
.logout-btn{
  background:#ff4f4f;padding:8px 14px;border-radius:6px;
  margin-right: 60px; border:none;color:white;font-weight:600;cursor:pointer;
}
.logout-btn:hover{background:#d92121;}

/* SEARCH BAR */
.search-container{
  margin-top:25px;display:flex;padding: 10px;gap:10px;
}
.search-container input{
  width:20%;padding:10px;border-radius:8px;
  border:1px solid #b6bcff;outline:none;
}
.clear-btn{
  background:#5262D1;color:white;padding:10px 16px;
  border:none;border-radius:6px;cursor:pointer;
}
.clear-btn:hover{background:#3d4ec9;}

/* TABLE */
.table-wrapper{
  width:95%;background:white;margin:25px auto;padding:20px;
  border-radius:12px;box-shadow:0 4px 18px rgba(0,0,0,0.12);
}

table{width:100%;border-collapse:collapse;text-align:left;}
th{
  background:#5262D1;color:white;padding:14px;font-size:15px;
}
td{padding:14px;border-bottom:1px solid #ececec;font-size:15px;}

tbody tr:nth-child(even){background:#f3f4ff;}
tbody tr:hover{background:#dfe3ff;transition:.2s;}

.no-data{text-align:center;margin-top:20px;font-size:18px;color:#444;}
